@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";


body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  
}

#top-section {
  position: relative;
  background: url('https://www.lachicuela.com/base05/2018/08/kffkfy-696x385.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
