@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #121420;
}

header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav a {
  color: #EBDAC4;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 20px;
}

#top-section {
  position: relative;
  background: url("https://www.lachicuela.com/base05/2018/08/kffkfy-696x385.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1400px;
}

#bio {
  background: #272727;
  position: relative;
}

#bio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#bio p {
  width: 50%;
  color: #EBDAC4;
  line-height: 1.5;
  font-size: .9rem;
  padding: 50px;
}

#bio .logo-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

#media {
  padding: 80px 50px;
}

#media .title {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: #EBDAC4;
}

#media .videos {
  padding: 80px 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 50px;
}

#media .videos .video {
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
  -webkit-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
}

#media .videos .video iframe {
  height: 100%;
}

#musica .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#musica .info {
  width: 50%;
}

#musica .info .title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#musica .info .sub-title {
  font-size: .8rem;
  font-weight: 300;
  text-align: center;
}

#musica .album-cover {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#musica .album-cover img {
  width: 75%;
}
/*# sourceMappingURL=styles.css.map */