@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";


body {
  font-family: 'Roboto', sans-serif;
  background: #121420;
}

header {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;


  nav {
    align-self: center;

    a {
      color: #EBDAC4;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 20px;
    }
  }
}

#top-section {
  position: relative;
  background: url('https://www.lachicuela.com/base05/2018/08/kffkfy-696x385.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1400px;
}

#bio {

  background: #272727;
  position: relative;

  .container {
    display: flex;
    margin: 0 auto;
  }

  p {
    width: 50%;
    color: #EBDAC4;
    line-height: 1.5;
    font-size: .9rem;
    padding: 50px;
  }

  .logo-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
}

#media {
  padding: 80px 50px;
  .title {
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: #EBDAC4;
  }

  .videos {
    padding: 80px 50px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;

    .video {
      border-radius: 4px;
      overflow: hidden;
      height: 300px;
      -webkit-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75);

      iframe {
        height: 100%;
      }
    }
  }
}


#musica {
  padding: 80px 0;
       .container {
        display: flex;
        padding: 0 50px;
      }

      .info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      

      .title {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
      }

      .sub-title {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 100px;
      }
      .singles {
        width: 400px;
        display: grid;
        grid-template-columns: 50% 50%;

        li {
          font-size: 1.5rem;
          font-weight: 300;
          text-align: center;
          margin-bottom: 
        }
      }
    }
      .album-cover {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }